.account
    text-align: center

    .lego
        position: absolute
        top: 50%
        right: -10vw
        display: block
        margin-top: -10vw
        width: 38vw

        @media (max-width: $screenM - 1)
            display: none

        img 
            display: block
            width: 100%
            height: auto

    &__title 
        margin: 0
        font-weight: 500
        font-size: 44px
        line-height: 50px
        color: $green

        @media (max-width: $screenL - 1)
            font-size: 40px
            line-height: 48px

        @media (max-width: $screenXS - 1)
            font-size: 32px
            line-height: 34px

    &__name
        margin: 0
        font-weight: 300
        font-size: 17px
        line-height: 26px

        @media (max-width: $screenL - 1)
            font-size: 16px
            line-height: 24px

    &__tel 
        margin: 0 0 20px
        font-weight: 500
        font-size: 22px
        line-height: 30px
        color: $green

        @media (max-width: $screenL - 1)
            margin-bottom: 20px
            font-size: 20px
