.btn
    @include btn-reset
    box-sizing: border-box
    display: inline-block
    vertical-align: top
    padding: 13px 20px
    height: 50px
    text-align: center
    font-weight: 500
    font-size: 18px
    line-height: 24px
    color: #fff
    background: linear-gradient(to right bottom, #02affe,#1264ce)
    border-radius: 6px
    cursor: pointer

    @media (max-width: $screenXS - 1)
        font-size: 16px

    &--curvy 
        padding-left: 50px
        padding-right: 50px
        border-radius: 0 80px
        transition: border-radius 0.3s ease

        //&:hover
            border-radius: 6px