.form 
    width: 100%

    &._narrow 
        margin: 0 auto 
        max-width: 390px

    &__fieldset 
        margin: 0 0 10px
        padding: 0
        max-width: 100%
        min-width: 0
        border: none
        text-align: left

        &._bordered 
            margin-bottom: 20px
            padding-bottom: 20px
            border-bottom: 1px solid $green

    &__field-wrapper 
        position: relative
        margin-bottom: 15px
        width: 100%
        max-width: 100%
        text-align: left

        &:last-child 
            margin-bottom: 0

    &__field-label 
        display: block
        margin-bottom: 5px
        font-size: 17px
        line-height: 21px

    &__error-message 
        position: absolute
        top: 25px
        left: calc(100% + 20px)
        display: flex 
        flex-direction: column
        justify-content: center
        margin: 0
        box-sizing: border-box
        padding: 6px 10px
        min-height: 50px
        width: 180px
        font-weight: 300
        font-size: 15px
        line-height: 19px
        color: #fff 
        background-color: $green
        border-radius: 6px
        opacity: 0
        pointer-events: none
        transition: opacity 0.3s ease

        &:before 
            content: ""
            position: absolute
            top: 20px
            left: 0
            transform: translateX(-50%) rotate(45deg)
            width: 12px
            height: 12px
            background-color: $green

        @media (max-width: $screenXS - 1)
            top: calc(100% + 15px)
            left: auto
            right: 0
            z-index: 1

            &:before 
                top: 0
                left: 50%
                transform: translate(-50%, -50%) rotate(45deg)

    &__field 
        @include field-reset
        box-sizing: border-box
        padding: 16px 30px 14px 20px
        width: 100%
        height: 50px
        font-weight: 300
        font-size: 17px
        line-height: 20px
        color: rgba(0, 0, 0, 0.5)
        background-color: #f3f3f3
        border-radius: 6px
        transition: box-shadow 0.3s ease, color 0.3s ease

        &._invalid
            color: $red
            box-shadow: inset 0 0 0 1px $red

            & + .form__error-message 
                opacity: 1
                pointer-events: auto

    &__switch-block
        position: relative
        margin-bottom: 25px
        text-align: left

    &__switch
        position: absolute
        opacity: 0
        width: 0
        height: 0

        &:checked + label:after 
            left: 14px
            background-color: $green
    
    &__switch-label 
        position: relative
        display: block
        padding-left: 40px
        font-weight: 300
        font-size: 15px
        line-height: 16px

        &:before 
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 30px
            height: 16px
            background-color: #e5e5e5
            border-radius: 8px
        
        &:after 
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 16px
            height: 16px
            background-color: #9f9f9f
            border-radius: 50%
            transition: left 0.3s ease, background-color 0.3s ease

    &__checkbox
        position: absolute
        opacity: 0
        width: 0
        height: 0

        &:checked + label:after 
            opacity: 1
    
    &__checkbox-label 
        position: relative
        display: block
        margin-bottom: 25px
        padding-left: 34px
        font-weight: 300
        font-size: 15px
        line-height: 18px

        a 
            @include hover
            color: $green

            span 
                border-bottom: 1px solid $green

        .line
            line-height: 24px

        &:before 
            content: ""
            position: absolute
            left: 0
            top: 0
            width: 24px
            height: 24px
            background-color: #f3f3f3
            border-radius: 6px

        &:after 
            content: ""
            position: absolute
            top: 5px
            left: 9px
            width: 4px
            height: 8px
            border-bottom: 3px solid $green
            border-right: 3px solid $green
            transform: rotate(45deg)
            opacity: 0
            transition: opacity 0.3s ease

    &__submit 
        width: 100%
        max-width: 390px

        &._left 
            display: block
            width: 170px

    &__label-line
        display: flex

    &__recovery-link
        @include hover
        margin-left: auto
        margin-bottom: 5px
        font-weight: 300
        font-size: 17px
        line-height: 21px
        color: $green

        span 
            border-bottom: 1px solid $green

    &__select-wrapper 

        &.opened 

            .form__dropdown
                max-height: 150px
                overflow-y: auto

            .form__select
                border-radius: 6px 6px 0 0

            .form__select-inner

                &:before 
                    transform: rotate(-45deg)

    &__select-inner
        position: relative

        &:before 
            content: ""
            position: absolute
            top: 19px
            right: 20px
            width: 10px
            height: 10px
            border-right: 2px solid $green
            border-top: 2px solid $green
            transform: rotate(135deg)
            pointer-events: none
            transition: transform 0.3s ease

    &__select 
        cursor: pointer
        font-weight: 500
        color: $textColor

    &__dropdown
        @include list-reset
        position: absolute
        top: 100%
        left: 0
        right: 0
        max-height: 0
        overflow: hidden
        border-radius: 0 0 6px 6px
        transition: max-height 0.3s ease
        z-index: 1
    
        li 
            background-color: lighten(#f3f3f3, 2.5%)
            cursor: pointer 
            transition: background-color 0.3s ease 

            &:hover,
            &.selected
                background-color: darken(#f3f3f3, 10%)

            &.selected 
                pointer-events: none
                
                .form__field 
                    font-weight: 500

        .form__field
            background-color: $transparent
            cursor: pointer

    &__select-alt 
        margin-top: 10px

    &__message 
        @include field-reset
        box-sizing: border-box
        padding: 16px 20px 14px
        width: 100%
        height: 160px
        font-weight: 300
        font-size: 17px
        line-height: 20px
        color: rgba(0, 0, 0, 0.5)
        background-color: #f3f3f3
        border-radius: 6px
        transition: box-shadow 0.3s ease, color 0.3s ease
        resize: none

        &._invalid
            color: $red
            box-shadow: inset 0 0 0 1px $red

            & + .form__error-message 
                opacity: 1
                pointer-events: auto

    &__upload-block
        display: flex
        margin-bottom: 10px
        max-width: 100%

    &__upload-info 
        flex-grow: 1
        box-sizing: border-box
        padding: 16px 20px 14px
        width: 100%
        max-width: calc(100% - 130px)
        height: 50px
        font-weight: 300
        font-size: 17px
        line-height: 20px
        color: rgba(0, 0, 0, 0.5)
        background-color: #f3f3f3
        border-radius: 6px

        span 
            display: block
            max-width: 100%
            max-height: 20px
            overflow: hidden
            text-overflow: ellipsis
    
    &__upload-block-inner
        position: relative

    &__upload 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        max-width: 100%
        opacity: 0
        z-index: 1
        cursor: pointer

        &:hover + .form__upload-link
            opacity: 0.9

    &__upload-link
        flex: none
        margin-left: 20px
        width: 110px
        height: 50px
        text-align: center
        font-size: 18px
        line-height: 50px
        color: #fff 
        background-color: $green
        border-radius: 6px
        transition: opacity 0.3s ease 
        cursor: pointer

    &__captcha-block
        @include row-component
        margin-bottom: 10px

    &__captcha-img 
        max-width: 50%

        img 
            display: block
            max-width: 160px
            height: auto

    &__captcha-field 
        margin-left: 20px
        max-width: 140px

.question
    display: block
    position: absolute
    right: 5px
    bottom: 14px
    vertical-align: top
    margin-left: 8px
    width: 20px
    height: 20px
    text-align: center
    font-weight: 500
    font-size: 14px
    line-height: 20px
    color: #047548
    border: 1px solid #047548
    border-radius: 50%

    i
        display: block
        text-align: center
        font-style: normal
        cursor: pointer

        &:hover ~ .tooltip
            z-index: 1
            opacity: 1

.tooltip
    width: 245px
    position: absolute
    left: 50%
    top: calc(-100% + 50px)
    transform: translateX(-50%)
    background-color: #fff
    border: 1px solid #047548
    font-size: 12px
    color: #0a1931
    line-height: initial
    z-index: -1
    opacity: 0
    transition: opacity .3s ease-in-out
    box-shadow: 0 14px 16px 0 rgba(0,0,0,.3)

    @media (max-width: $screenXS)
        width: 200px
        bottom: auto
        top: 50%
        left: auto
        transform: translateY(-50%)
        right: 35px

    &:after
        content: ''
        width: 16px
        height: 12px
        position: absolute
        left: 50%
        top: 100%
        transform: translateX(-50%)
        z-index: 2

        @media (max-width: $screenXS)
            left: auto
            right: -14px
            top: 50%
            transform: rotate(-90deg) translateX(5px)

    img
        display: block
        max-width: 100%