.main-nav
    flex-grow: 1

    ul
        @include list-reset
        display: flex
        align-items: center

        li 
            margin: 0 15px
            font-size: 16px
            line-height: 22px

            @media (max-width: $screenL - 1)
                margin: 0 12px
                font-size: 14px

            &._login 
                margin-left: auto

                @media (min-width: $screenXL + 1)
                    margin-left: 60px

            &.mobile-menu-item
                display: none

                @media (max-width: $screenXS - 1)
                    display: block

        a 
            @include hover
            color: $textColor
            white-space: nowrap

    @media (max-width: $screenM)
        position: fixed
        top: 0
        left: 0
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center 
        align-items: center
        background-color: $green
        z-index: 100
        transform: translateX(-100%)
        transition: transform 0.3s ease

        &.opened 
            transform: translateX(0)

        ul 
            display: block
            text-align: center

            li 
                margin: 30px 0
                font-weight: 500
                font-size: 22px
                line-height: 30px

            a 
                color: #fff

    @media (max-width: $screenXS - 1)

        ul 
            li 
                margin: 25px 0
                font-size: 18px
                line-height: 26px

    .share-block
        position: absolute
        transform: translate(-10000px, 0)
        opacity: 0

        @media (max-width: $screenXS - 1)
            bottom: 50px
            transform: none
            opacity: 1
            width: 100%

    .ya-share2

        @media (max-width: $screenXS - 1)
            position: relative
            transform: scale(2)
            transform-origin: top center
            opacity: 1

            &__list 
                display: flex

            &__item 
                margin: 0 10px
