.mechanics
    text-align: center

    &__title 
        margin: 0 0 50px
        font-weight: 500
        font-size: 44px
        line-height: 50px
        color: $green
        pointer-events: none

        @media (min-width: 1250px) and (max-height: 700px)
            margin: 0 0 35px

        @media (max-width: $screenXS - 1)
            margin-bottom: 30px
            font-size: 38px
            line-height: 40px

    .tip
        position: absolute
        bottom: 10px
        left: 50%
        transform: translateX(-50%)
        font-size: 14px
        line-height: 1
        margin: 0

        @media (max-width: 1600px)
            font-size: 12px

        @media (max-width: $screenXS - 1)
            width: 90%
            font-size: 9px

        a
            color: #047548
            text-decoration: underline

    .train
        position: absolute
        display: block
        right: -19vw
        top: 4vw
        transform: translateY(50%)
        width: 33vw
        height: auto

        @media (max-width: $screenM - 1)
            display: none

        img 
            display: block
            width: 100%
            height: auto
