.mobile-slider

    @media (max-width: $screenM)
        margin-bottom: 40px

    @media (max-width: $screenXS - 1)
        margin-bottom: 0

    .swiper-button-prev,
    .swiper-button-next 
        @include btn-reset
        display: none

        &:before 
            content: ""
            @include center
            @include hover
            width: 30px
            height: 30px
            border-top: 3px solid $green
            border-right: 3px solid $green
            transform: translate(-50%, -50%) rotate(45deg)

        @media (max-width: $screenM - 1)
            display: block
            background-image: none 

    .swiper-button-prev

        &:before 
            transform: translate(-50%, -50%) rotate(-135deg)
