.modal-overlay 
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: -40px
    display: flex 
    flex-direction: column
    padding: 20px
    background-color: rgba(0, 0, 0, 0.5)
    opacity: 0
    pointer-events: none
    transition: opacity 0.3s ease
    overflow-y: scroll
    z-index: -1000

    @media (max-width: $screenM)
        right: 0

    &.opened 
        opacity: 1
        pointer-events: auto
        z-index: 1000

.modal
    position: relative
    margin: auto
    box-sizing: border-box
    
    width: 500px
    text-align: center
    background-color: #fff
    border-radius: 12px

    @media (max-width: $screenXS - 1)
        width: 100%

    &._narrow
        width: 400px

        @media (max-width: $screenXS - 1)
            width: 100%

    &._medium
        width: 540px

        @media (max-width: $screenXS - 1)
            width: 100%

    &._wide 
        width: 630px

        @media (max-width: $screenXS - 1)
            width: 100%

        .modal__descr 
            min-height: 42px

    &__inner
        padding: 52px 50px 35px

        @media (max-width: $screenXS - 1)
            padding: 52px 25px 35px

    &__close 
        @include btn-reset
        position: absolute
        top: 20px
        right: 20px
        width: 23px
        height: 23px

        &:before,
        &:after 
            content: ""
            @include center 
            width: 2px
            height: 32px
            background-color: #bbb 
            transform: translate(-50%,-50%) rotate(45deg)

        &:after
            transform: translate(-50%,-50%) rotate(-45deg)

    &__title 
        margin: 0 0 10px
        font-weight: 500
        font-size: 34px
        line-height: 34px
        color: $green

    &__descr 
        margin: 0 0 21px
        font-weight: 300
        font-size: 17px
        line-height: 21px

        a 
            @include hover
            color: $green

            span 
                border-bottom: 1px solid $green

    &__btn-close 
        display: block
        margin: 0 auto 
        width: 200px
    