.nav-trigger 
    @include btn-reset
    position: relative
    flex: none
    width: 20px
    height: 16px
    font-size: 0
    display: none
    z-index: 101

    @media (max-width: $screenM)
        display: block
        margin-left: 10px

    span 
        @include center
        display: block
        width: 100%
        height: 2px
        background-color: $green

        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 2px
            background-color: $green
            transition: transform 0.3s ease

        &:before 
            top: -7px

        &:after 
            bottom: -7px

    &.active 

        span
            background-color: $transparent

            &:before 
                top: 0
                transform: rotate(45deg)

            &:after 
                top: 0
                bottom: auto
                transform: rotate(-45deg)

        @media (max-width: $screenM)
            position: fixed
            top: 30px
            right: 30px

            span

                &:before,
                &:after 
                    background-color: #fff