.pagination

    ul 
        @include list-reset 
        display: flex
        justify-content: center

    li 
        margin: 10px
        flex: none
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        width: 30px
        height: 30px
        background-color: #fff
        border-radius: 50%

        &.current
            background-color: $green 

            a 
                color: #fff

    a 
        @include hover
        font-weight: 500
        color: $textColor