.results-mobile
    position: relative
    display: none

    @media (max-width: $screenM - 1)
        display: block

    table 
        margin-bottom: 20px
        width: 100%
        border-radius: 12px
        overflow: hidden

        @media (max-width: $screenXS - 1)
            display: block
            margin-bottom: 10px
            border-radius: 6px
            font-size: 14px
            line-height: 18px
        
        th 
            box-sizing: border-box
            padding: 0 30px
            width: 25%
            min-width: 200px
            text-align: left
            color: #fff
            background-color: $green
            border-bottom: 1px solid darken($green, 5%)

            @media (max-width: $screenXS - 1)
                padding: 0 10px
                flex: none 
                min-width: 100px

        td 
            padding: 0 30px
            background-color: #fff
            border-bottom: 1px solid #f3f3f3

            @media (max-width: $screenXS - 1)
                padding: 0 10px
                flex-grow: 1

        tbody 

            @media (max-width: $screenXS - 1)
                display: flex
                flex-direction: column

        tr 
            @media (max-width: $screenXS - 1)
                display: flex

        p 
            @media (max-width: $screenXS - 1)
                margin: 10px 0