.results-table
    position: relative
    margin: 0 auto 
    max-width: 838px
    padding-bottom: 41px
    text-align: left
    font-size: 17px
    line-height: 22px
    color: #fff
    background-color: $green
    background-image: url("../images/pattern.jpg")
    background-repeat: no-repeat
    background-size: 101% 101%
    background-position: -1px -1px
    border-style: solid
    border-width: 13px
    border-image: url('../images/frame.png') 27 fill stretch

    @media (max-width: $screenL - 1)
        font-size: 15px

    @media (max-width: $screenM - 1)
        display: none
        padding-bottom: 20px
        font-size: 13px
        line-height: 17px

    .logout
        position: absolute
        bottom: 7px
        left: 40px
        color: #fff
        line-height: 1
        border-bottom: 1px solid #fff

        @media (max-width: $screenXS - 1)
            left: 50%
            transform: translateX(-50%)
            bottom: 1px
    p 
        margin: 0

    &__header
        position: relative
        display: flex
        padding: 44px 40px 24px
        font-weight: 500

        @media (max-width: $screenM - 1)
            padding: 65px 15px 10px

        .results-table__col

            @media (max-width: $screenM - 1)
                display: flex
                flex-direction: column
                justify-content: flex-end

    &__body
        height: 250px

        @media (max-width: $screenM - 1)
            height: 213px

        @media (min-width: $screenM) and (max-height: 700px)
            height: 190px

        .mCustomScrollBox
            max-height: 250px !important

            @media (max-width: $screenM - 1)
                max-height: 213px !important

        .results-table__col 

            @media (max-width: $screenM - 1)
                display: flex
                flex-direction: column
                justify-content: center

    &__row 
        display: flex
        padding: 14px 40px

        @media (max-width: $screenM - 1)
            padding: 10px 15px
            min-height: 51px

        &:nth-child(odd)
            background-color: rgba(229, 229, 229, 0.2)

    &__col 
        flex: none

        &._name 
            width: 19.38%

        &._phone 
            width: 25.9%

        &._prize
            flex-grow: 1

            @media (max-width: $screenM - 1)
                flex: none 
                width: 55%

        &._number
            width: 19.88%

        &._date
            width: 17.857%

        &._status
            width: 18.571%

        &._name-phone 
            width: 45%

        &._number-date 
            width: 45%

        &._status-prize 
            width: 55%

    &._mobile 
        display: none

        @media (max-width: $screenM - 1)
            display: block

    &._nosearch 

        .results-table__header

            @media (max-width: $screenM - 1)
                padding-top: 25px
