.rules 
    justify-content: flex-start
    background-image: url("../images/bear.png")
    background-repeat: no-repeat
    background-size: auto calc(100vh - 200px)
    background-position: right 65px top 130px

    @media (max-width: 1600px)
        padding-top: 130px

    @media (max-width: $screenL - 1) and (orientation: portrait)
        background-size: auto 60vh
        background-position: bottom 50px right 20px

    @media (max-width: $screenM - 1)
        background-size: auto 50vh
        background-position: bottom 50px right 20px

    @media (max-width: $screenXS - 1)
        background-size: auto 45vh 
        background-position: top 15vh center

    .header
        display: none

        @media (max-width: $screenM)
            display: block

    &__wrapper 
        display: flex
        flex-direction: column
        justify-content: center
        flex-grow: 1
        max-width: 1920px
        //padding-left: 41px

        @media (max-width: $screenM - 1)
            justify-content: flex-start

    &__content
        padding-left: 12%
        //padding-top: 114px
        max-width: 800px

        @media (max-width: 1600px)
            padding-left: 10.5%

        @media (max-width: $screenL - 1)
            padding-left: 3%

        @media (max-width: $screenXS - 1)
            display: block
            position: absolute
            bottom: 0
            text-align: center
            width: calc(100% - 30px)
            padding-top: 30px
            padding-left: 0

    &__title
        letter-spacing: -.84px
        margin: 0 0 50px
        font-weight: 500
        font-size: 57px
        line-height: 1
        color: $green

        @media (max-width: $screenXS - 1)
            font-size: 26px
            line-height: 36px
            text-align: center
            margin: 0 0 10px

    &__text
        margin: 0 0 40px
        font-weight: 300
        font-size: 26px
        line-height: 1.5

        @media (max-width: $screenXS - 1)
            font-size: 16px
            line-height: 22px
            text-align: center
            color: #000
            margin: 0 0 30px

        br
            @media (min-width: 1700px)
                display: none

            @media (max-width: $screenXS - 1)
                display: none

    &__card 
        //margin-bottom: -60px
        margin-top: 50px
        margin-left: -12.5vw
        width: 460px
        max-width: 33vw

        @media (max-width: $screenL - 1)
            margin-top: 18px
            margin-left: -6.5vw
            max-width: 28vw

        @media (max-width: $screenL - 1) and (orientation: portrait)
            margin-top: 50px
            margin-left: 0
            max-width: 35vw

        @media (max-width: $screenM - 1)
            margin-top: 50px
            margin-left: 0
            max-width: 35vw

        @media (max-width: $screenXS - 1)
            display: none

        img 
            display: block
            width: 100%
            height: auto

    .btn 

        @media (max-width: $screenXS - 1)
            padding-left: 45px
            padding-right: 49px
            display: inline-block
            margin-top: auto 
            margin-bottom: 20px
