.search-form-block
    position: absolute
    right: 50px
    top: 34px

    @media (max-width: $screenM - 1)
        top: 20px
        right: 15px
        left: 15px

.search-form
    width: 300px

    @media (max-width: $screenM - 1)
        width: 100%

    &__field 
        @include field-reset
        box-sizing: border-box !important
        display: block
        padding: 8px 36px 8px 20px
        width: 100%
        min-width: 0
        height: 35px
        font-weight: 300
        font-size: 15px
        line-height: 19px
        color: rgba(0, 0, 0, 0.5)
        background-color: #fff
        border-radius: 6px
        -webkit-appearance: none !important
        background-image: url("../images/search.png")
        background-repeat: no-repeat
        background-size: 16px 17px
        background-position: right 10px center

        @media (max-width: $screenM - 1)
            padding-left: 10px
            padding-right: 25px
            font-size: 14px