.section
    display: flex 
    flex-direction: column
    justify-content: center
    padding-top: 130px
    padding-bottom: 70px

    @media (max-width: 1600px)
        padding-top: 92px
        padding-bottom: 58px

    @media (max-width: $screenXS - 1)
        padding-top: 0
        padding-bottom: 0

    .from-left,
    .from-right,
    .from-top,
    .from-bottom 
        opacity: 0
    