.share-block
    display: flex
    justify-content: flex-end
    align-items: center
    margin-left: auto

    @media (max-width: $screenXS - 1)
        margin: 10px 0 0
        justify-content: center

    &__label 
        margin: 0 6px 0 0
        font-size: 14px
        line-height: 18px

        @media (max-width: $screenM)
            display: none

.ya-share2

    &__list
        @include list-reset
        display: flex

    &__item
        @include hover
        margin: 0
        margin-left: 5px
        background-color: #fff
        background-repeat: no-repeat
        background-position: center
        border-radius: 50%

        @media (max-width: $screenXS - 1)
            margin: 0 5px

        &_service

            &_facebook
                background-image: url("../images/svg/icon-fb.svg")
                background-size: 9px 16px

            &_vkontakte
                background-image: url("../images/svg/icon-vk.svg")
                background-size: 16px 10px

            &_odnoklassniki
                background-image: url("../images/svg/icon-ok.svg")
                background-size: 10px 16px

    &__link
        display: block
        width: 26px
        height: 26px

    &__title
        font-size: 0