.steps
    @include list-reset
    display: flex
    margin-bottom: 25px

.step
    flex: none 
    width: 33.333333%

    &__icon 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-bottom: 25px
        min-height: 108px

        @media (max-width: $screenXS - 1)
            margin-bottom: 15px

        img 
            display: block

            @media (max-width: $screenL - 1)
                transform: scale(0.75)

            @media (max-width: $screenXS - 1)
                transform: scale(0.6)

    &__headline 
        margin: 0 0 15px
        min-width: 60px
        text-transform: uppercase
        font-weight: 500
        font-size: 30px
        line-height: 30px
        color: $green

        @media (max-width: $screenL - 1)
            font-size: 26px

        @media (max-width: $screenXS - 1)
            font-size: 22px
            line-height: 28px

    &__text
        margin: 0 auto 
        max-width: 290px
        min-height: 75px
        font-size: 20px
        line-height: 25px

        @media (max-width: $screenL - 1)
            font-size: 16px
            line-height: 22px

        a 
            @include hover
            display: block
            color: $green

            span 
                border-bottom: 1px solid $green

    &:nth-child(2)

        .step__icon
            animation-delay: 0.6s

    &:nth-child(3)

        .step__icon
            animation-delay: 0.8s