.winners
    text-align: center

    .footer
        .logged-in &
            display: none

    .cards 
        position: absolute
        display: block
        width: 28vw
        height: auto
        top: 50%
        margin-top: 2.5vw
        margin-left: -13.5vw

        @media (max-width: $screenM - 1)
            display: none

        img 
            display: block
            width: 100%
            height: auto

    &__title 
        margin: 0 0 35px
        font-weight: 500
        font-size: 44px
        line-height: 50px
        color: $green

        @media (min-width: 1250px) and (max-height: 700px)
            margin: 0 0 10px

        @media (max-width: $screenL - 1)
            margin-bottom: 25px
            font-size: 40px
            line-height: 48px

        @media (max-width: $screenXS - 1)
            font-size: 34px
            line-height: 34px
