@import normalize
@import fonts.scss
@import animation

// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    font-family: $font
    font-weight: 400
    font-size: 20px
    line-height: 24px
    color: $textColor
    background-color: #f0f0f0

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    @media (max-width: $screenL - 1)
        font-size: 18px
        line-height: 22px

    &.turn

        @media (max-width: 960px) and (orientation: landscape)

            &:after 
                content: ""
                position: fixed
                top: 0
                bottom: 0
                left: 0
                right: 0
                z-index: 10000
                background-color: #fff 
                background-image: url("../images/rotate.png")
                background-repeat: no-repeat 
                background-size: 50% auto
                background-position: center


    &.overflow 
        height: 100vh
        overflow: hidden

.global-wrapper
    position: relative
    min-height: 100vh

.layout-positioner
    margin: 0 auto
    box-sizing: border-box
    padding: 0 50px
    width: 100%
    max-width: 1400px

    @media (max-width: $screenL - 1)
        padding: 0 25px

    @media (max-width: $screenXS - 1)
        padding: 0 15px

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

.svg-wrapper
    position: absolute
    opacity: 0
    z-index: -100

.visually-hidden
    position: absolute !important
    clip: rect(1px 1px 1px 1px)
    clip: rect(1px, 1px, 1px, 1px)
    padding:0 !important
    border:0 !important
    height: 1px !important
    width: 1px !important
    overflow: hidden

.index-page
    padding: 40px
    box-sizing: border-box

    h1
        font-size: 22px
        margin: 20px 0 0
        font-family: Helvetica, sans-serif

    ol
        padding: 10px 0 0 20px

    ol li
        margin-bottom: 5px
        list-style-type: decimal

    ol li a
        font-size: 15px
        font-family: Verdana, Arial, Helvetica, sans-serif
        color: inherit
