.fp-section.active .from-left 
    animation-name: appear, from-left
    animation-duration: 0.6s, 0.6s
    animation-delay: 0.4s
    animation-fill-mode: forwards

.fp-section.active .from-top 
    animation-name: appear, from-top
    animation-duration: 0.6s, 0.6s
    animation-delay: 0.4s
    animation-fill-mode: forwards

.fp-section.active .from-right 
    animation-name: appear, from-right
    animation-duration: 0.6s, 0.6s
    animation-delay: 0.4s
    animation-fill-mode: forwards

.fp-section.active .from-bottom 
    animation-name: appear, from-bottom
    animation-duration: 0.6s, 0.6s
    animation-delay: 0.4s
    animation-fill-mode: forwards

.fp-section.active .reveal
    animation-name: appear, reveal
    animation-duration: 0.6s, 0.6s
    animation-delay: 0.4s
    animation-fill-mode: forwards
    
@keyframes scale 
    0% 
        transform: scale(0)

    100% 
        transform: scale(1)

@keyframes appear
    0%
        opacity: 0

    100%
        opacity: 1

@keyframes from-left
    0%
        transform: translateX(-20px)

    100%
        transform: translateX(0)

@keyframes from-right
    0%
        transform: translateX(20px)

    100%
        transform: translateX(0)

@keyframes from-top
    0%
        transform: translateY(-20px)

    100%
        transform: translateY(0)

@keyframes from-bottom
    0%
        transform: translateY(20px)

    100%
        transform: translateY(0)

@keyframes shake
    0%
        transform: translateX(0)

    100%
        transform: translateX(10px)

@keyframes to-right
    0%
        transform: translateX(0)

    100%
        transform: translateX(20px)

@keyframes to-left
    0%
        transform: translateX(0)

    100%
        transform: translateX(-20px)

@keyframes disappear
    0%
        opacity: 1

    100%
        opacity: 0

@keyframes reveal 
    0% 
        max-width: 0

    100%
        max-width: 100%

@keyframes hide 
    0% 
        max-width: 100%

    100%
        max-width: 0
