@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamLight.woff2') format('woff2'),
       url('../fonts/GothamLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothaProReg.woff2') format('woff2'),
       url('../fonts/GothaProReg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamMedium.woff2') format('woff2'),
       url('../fonts/GothamMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

