// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXXL: 1920px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 1024px;
$screenS: 900px;
$screenXS: 768px;
$screenXS-s: 600px;
$screenXXS: 640px;
$screenMob: 500px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0);
$textColor: #393939;
$green: #047548;
$red: #ff0000;
$blue-l: #059bf1;
$blue-d: #0f6dd5;

// ----------------------------------------------------------------------
    // Gradients
// ----------------------------------------------------------------------
$g-blue: linear-gradient(to top, #0f6dd5 0%, #059bf1 100%);
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: GothamPro, Arial, sans-serif;
