footer(class='footer')
    div(class='footer__wrapper layout-positioner')
        ul(class='footer-nav')
            li
                a(href="#") Часто задаваемые вопросы
            li
                a(href="#" class='js-modal-trigger' data-target='questionPopup') Обратная связь

        include ../blocks/share.pug