div(class='modal-overlay js-modal' id='authorisePopup')
    div(class='modal _narrow')
        button(
            type='button'
            class='modal__close js-close'
            data-target='authorisePopup'
        )
            span(class='visually-hidden') Закрыть

        div(class='modal__inner')

            h3(class='modal__title') Авторизация
            p(class='modal__descr') Войдите через сайт

            form(
                class='form'
                action='#'
                method='post'
            )

                fieldset(class='form__fieldset')
                    legend(class='visually-hidden') Данные пользователя
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='email1') E-mail
                        input(
                            type='email'
                            class='form__field'
                            id='email1'
                            value='sample@sample.ru'
                        )
                    div(class='form__field-wrapper')
                        div(class='form__label-line')
                            label(class='form__field-label' for='password1') Пароль
                            a(href='#' class='form__recovery-link')
                                span Забыли пароль?
                        input(
                            type='password'
                            class='form__field'
                            id='password1'
                            value='***********'
                        )
                div(class='form__field-wrapper')
                    input(
                        type='checkbox'
                        class='form__checkbox'
                        id='remember'
                        checked
                    )
                    label(
                        class='form__checkbox-label'
                        for='remember'
                    ) 
                        span(class='line') Запомнить меня
                button(class='btn form__submit') Зарегистрироваться