div(class='modal-overlay js-modal' id='registerPopup')
    div(class='modal _narrow')
        button(
            type='button'
            class='modal__close js-close'
            data-target='registerPopup'
        )
            span(class='visually-hidden') Закрыть

        div(class='modal__inner')

            h3(class='modal__title') Регистрация
            p(class='modal__descr') Заполните, пожалуйста, все поля

            form(
                class='form'
                action='#'
                method='post'
            )

                fieldset(class='form__fieldset')
                    legend(class='visually-hidden') Данные пользователя
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='username') Имя
                        input(
                            type='text'
                            class='form__field'
                            id='username'
                            value='Константин'
                        )
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='email') E-mail
                        input(
                            type='email'
                            class='form__field'
                            id='email'
                            value='sample@sample.ru'
                        )
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='phone') Номер телефона
                        input(
                            type='tel'
                            class='form__field _invalid'
                            id='phone'
                            value='+7 986 865-88'
                        )
                        p(class='form__error-message') Введите корректный номер телефона 
                div(class='form__switch-block')
                    input(
                        type='checkbox'
                        class='form__switch'
                        id='send-code'
                    )
                    label(
                        class='form__switch-label'
                        for='send-code'
                    ) Отправить код подтверждения
                fieldset(class='form__fieldset')
                    legend(class='visually-hidden') Данные пользователя
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='code') Код из СМС
                        input(
                            type='text'
                            class='form__field'
                            id='code'
                            value='8237523'
                        )
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='password') Пароль
                        input(
                            type='password'
                            class='form__field'
                            id='password'
                            value='***********'
                        )
                div(class='form__field-wrapper')
                    input(
                        type='checkbox'
                        class='form__checkbox'
                        id='agreement'
                    )
                    label(
                        class='form__checkbox-label'
                        for='agreement'
                    ) 
                        | Я согласен с&nbsp;
                        |
                        a(href='#')
                            span правилами акции
                        |, 
                        |
                        br
                        |с
                        |
                        a(href='#')
                            span пользовательским соглашением
                        |
                        | и&nbsp;с
                        |
                        a(href='#')
                            span положением о конфиденциальности&nbsp;
                button(class='btn form__submit') Зарегистрироваться