div(class='modal-overlay js-modal' id='receiptPopup')
    div(class='modal _medium')
        button(
            type='button'
            class='modal__close js-close'
            data-target='receiptPopup'
        )
            span(class='visually-hidden') Закрыть

        div(class='modal__inner')

            h3(class='modal__title') Регистрация чека
            p(class='modal__descr') Заполните, пожалуйста, все поля представленные ниже или загрузите фото чека

            form(
                class='form _narrow'
                action='#'
                method='post'
            )

                fieldset(class='form__fieldset _bordered')
                    legend(class='visually-hidden') Данные пользователя
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='receiptNumber') Номер чека
                        input(
                            type='text'
                            class='form__field'
                            id='receiptNumber'
                            value='2143981263'
                        )
                        span(class='question')
                            i ?
                            span(class='tooltip')
                                img(src='assets/images/q1.jpg')

                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='receiptTotal') Сумма чека
                        input(
                            type='text'
                            class='form__field'
                            id='receiptTotal'
                            value='856.50'
                        )
                        span(class='question')
                            i ?
                            span(class='tooltip')
                                img(src='assets/images/q2.jpg')

                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='dateTime') Дата и время в чеке
                        input(
                            type='date'
                            class='form__field'
                            id='dateTime'
                            value='28.08.2018'
                        )

                fieldset(class='form__fieldset')
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='image1') Изображение чека
                        div(class='form__upload-block js-upload-block')
                            div(class='form__upload-info js-upload-info')
                                span
                            div(class='form__upload-block-inner')
                                input(
                                    type='file'
                                    class='form__upload js-file'
                                    id='image1'
                                    accept='image/*'
                                )
                                div(class='form__upload-link') Обзор

                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='Введите код с изображения') Введите код с изображения
                        div(class='form__captcha-block')
                            div(class='form__captcha-img')
                                img(src="assets/images/captcha.jpg", width="159", height="55" alt="")
                            div(class='form__captcha-field')
                                input(
                                    type='text'
                                    id='Введите код с изображения'
                                    class='form__field'
                                )

                div(class='form__field-wrapper')
                    input(
                        type='checkbox'
                        class='form__checkbox'
                        id='agreement1'
                    )
                    label(
                        class='form__checkbox-label'
                        for='agreement1'
                    ) 
                        | Я согласен с&nbsp;
                        |
                        a(href='#')
                            span правилами акции
                        |, 
                        |
                        br
                        |с
                        |
                        a(href='#')
                            span пользовательским соглашением
                        |
                        br
                        |
                        | и&nbsp;с
                        |
                        a(href='#')
                            span положением о конфиденциальности&nbsp;
                
                button(class='btn form__submit') Зарегистрировать чек