-
    var options = [
        {
            value: 'Какая-то тема',
            id: 'someSubject'
        },
        {
            value: 'Ещё какая-то тема',
            id: 'someOtherSubject'
        },
        {
            value: 'Другое',
            id: 'other'
        }
    ]

div(class='modal-overlay js-modal' id='questionPopup')
    div(class='modal')
        button(
            type='button'
            class='modal__close js-close'
            data-target='questionPopup'
        )
            span(class='visually-hidden') Закрыть

        div(class='modal__inner')

            h3(class='modal__title') Задать вопрос

            form(
                class='form'
                action='#'
                method='post'
            )

                fieldset(class='form__fieldset')
                    legend(class='visually-hidden') Данные пользователя
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='username2') Ваше имя
                        input(
                            type='text'
                            class='form__field'
                            id='username2'
                            value='Константин'
                        )
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='email2') Ваш E-mail
                        input(
                            type='email'
                            class='form__field'
                            id='email2'
                            value='sample@sample.ru'
                        )
                    div(class='form__field-wrapper form__select-wrapper js-select-wrapper')
                        label(class='form__field-label' for='subject') Тема обращения
                        div(class='form__select-inner')
                            input(
                                type='text'
                                class='form__field form__select js-select-field'
                                id='subject'
                                placeholder='Выберите тему'
                                readonly
                            )
                            ul(class='form__dropdown')

                                each item in options
                                    li 
                                        input(
                                            class='form__field form__dropdown-option js-dropdown-option'
                                            value= item.value
                                            id= item.id
                                            readonly
                                        )
                        div(class='form__select-alt js-select-alt')
                            input(
                                type='text'
                                class='form__field'
                                id='other-subject'
                                placeholder='Введите тему обращения'
                            )
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='message') Сообщение
                        textarea(
                            class='form__message'
                            id='message'
                            placeholder='***********'
                        )
                    div(class='form__field-wrapper')
                        label(class='form__field-label' for='image') Прикрепить файл
                        div(class='form__upload-block js-upload-block')
                            div(class='form__upload-info js-upload-info')
                                span
                            div(class='form__upload-block-inner')
                                input(
                                    type='file'
                                    class='form__upload js-file'
                                    id='image'
                                    accept='image/*'
                                )
                                div(class='form__upload-link') Обзор
                
                button(class='btn form__submit _left') Отправить