div(class='modal-overlay js-modal' id='thanksPopup2')
    div(class='modal _wide')
        button(
            type='button'
            class='modal__close js-close'
            data-target='thanksPopup2'
        )
            span(class='visually-hidden') Закрыть

        div(class='modal__inner')

            h3(class='modal__title') Спасибо!
            p(class='modal__descr') 
                | Ваш чек успешно зарегистрирован. Результаты 
                |
                br
                |
                | розыгрыша будут доступны в разделе&nbsp;
                |
                a(href='#')
                    span Победители на сайте 
                |
                | &nbsp;не позднее 15 сентября 2018 года.

            button(class='btn modal__btn-close js-close', data-target='thanksPopup2') Закрыть