div(class='modal-overlay js-modal' id='thanksPopup1')
    div(class='modal _wide')
        button(
            type='button'
            class='modal__close js-close'
            data-target='thanksPopup1'
        )
            span(class='visually-hidden') Закрыть

        div(class='modal__inner')

            h3(class='modal__title') Спасибо за&nbsp;обращение!
            p(class='modal__descr') Ваша заявка будет обработана в течении 72-х часов

            button(class='btn modal__btn-close js-close', data-target='thanksPopup1') Закрыть