div(class='share-block')
    p(class='share-block__label') Поделиться
    div(
        class='ya-share2'
        data-services='facebook,vkontakte,odnoklassniki'
        data-image=''
        data-bare
    )
