head
    meta(charset='utf-8')
    meta(
        http-equiv='X-UA-Compatible'
        content='chrome=1'
    )
    meta(
        name='viewport'
        content='width=device-width, initial-scale=1, shrink-to-fit=no'
    )
    meta(
        name='format-detection'
        content='telephone=no'
    )
    title
    link(
        rel='stylesheet'
        href='assets/css/main.css'
        type='text/css'
    )
    script(src='assets/js/jquery-3.1.1.min.js')
    script(src='assets/js/main.min.js')
    script(src='https://yastatic.net/share2/share.js')
