- 
    var items = [
        {
            number: '2384993400',
            date: '28.08.2018',
            status: 'Выиграл',
            prize: 'Сертификат на 1000 рублей'
        },
        {
            number: '2230809000',
            date: '30.08.2018',
            status: 'Не выиграл',
            prize: ''
        },
        {
            number: '12339997832',
            date: '04.09.2018',
            status: 'Не выиграл',
            prize: ''
        },
        {
            number: '5346987986',
            date: '15.09.2018',
            status: 'Не выиграл',
            prize: ''
        },
        {
            number: '2439274798',
            date: '20.09.2018',
            status: 'Выиграл',
            prize: 'Сертификат на 3000 рублей'
        },
        {
            number: '2384993400',
            date: '28.08.2018',
            status: 'Выиграл',
            prize: 'Сертификат на 1000 рублей'
        },
        {
            number: '2230809000',
            date: '30.08.2018',
            status: 'Не выиграл',
            prize: ''
        },
        {
            number: '12339997832',
            date: '04.09.2018',
            status: 'Не выиграл',
            prize: ''
        },
        {
            number: '5346987986',
            date: '15.09.2018',
            status: 'Не выиграл',
            prize: ''
        },
        {
            number: '2439274798',
            date: '20.09.2018',
            status: 'Выиграл',
            prize: 'Сертификат на 3000 рублей'
        }
    ]

section(class='section account' id='account' data-anchor='account-section')
    div(class='lego')
        img(src="assets/images/lego.png", alt="")
    div(class='section__wrapper layout-positioner')

        h2(class='account__title') Личный кабинет
        p(class='account__name') Константинопольский Константин Константинович  
        p(class='account__tel') +7 956 385-88-90

        div(class='results-table')
            div(class='results-table__header')
                div(class='results-table__col _number')
                    p № чека
                div(class='results-table__col _date')
                    p Дата чека
                div(class='results-table__col _status')
                    p Статус
                div(class='results-table__col _prize')
                    p Приз

            div(class='results-table__body scrollable')

                each item in items 

                    div(class='results-table__row')
                        div(class='results-table__col _number')
                            p= item.number
                        div(class='results-table__col _date')
                            p= item.date
                        div(class='results-table__col _status')
                            p= item.status
                        div(class='results-table__col _prize')
                            p= item.prize
            a(href="#", class="logout") Выход

        div(class='results-table _mobile _nosearch')
            div(class='results-table__header')
                div(class='results-table__col _number-date')
                    p № чека
                    p Дата чека
                div(class='results-table__col _status-prize')
                    p Статус
                    p Приз

            div(class='results-table__body scrollable')

                each item in items 

                    div(class='results-table__row')
                        div(class='results-table__col _number-date')
                            p= item.number
                            p= item.date
                        div(class='results-table__col _status-prize')
                            p= item.status
                            p= item.prize

            a(href="#", class="logout") Выход

    include ../partials/footer.pug

        //- div(class='results-mobile')

        //-     each item in items

        //-         table
        //-             tr 
        //-                 th 
        //-                     p № чека
        //-                 td 
        //-                     p= item.number

        //-             tr 
        //-                 th 
        //-                     p Дата чека
        //-                 td 
        //-                     p= item.date
                    
        //-             tr 
        //-                 th 
        //-                     p Статус
        //-                 td 
        //-                     p= item.status

        //-             tr 
        //-                 th 
        //-                     p Приз
        //-                 td 
        //-                     p= item.prize

        //-     div(class='pagination')
        //-         ul 
        //-             li(class='current')
        //-                 a(href="#") 1
        //-             li  
        //-                 a(href="#") 2  
        //-             li  
        //-                 a(href="#") 3
        //-             li  
        //-                 a(href="#") 4
        //-             li  
        //-                 a(href="#") 5