section(class='section mechanics', id='mechanics' data-anchor='mechanics-section')
    div(class='train')
        img(src="assets/images/train.png", alt="")
    div(class='section__wrapper layout-positioner')
        h2(class='mechanics__title') Механика акции
        div(class='mobile-slider')
            ul(class='mechanics__list steps mobile-slider-wrapper')
                li(class='step mobile-slide')
                    div(class='step__icon from-left')
                        img(src='assets/images/cart.png', width='114', height='108' alt='')
                    p(class='step__headline') совершайте #[br]покупки
                    p(class='step__text') по карте «Мир» в сети «Детский&nbsp;Мир» с 20&nbsp;августа по 30&nbsp;сентября 2018 года

                li(class='step mobile-slide')
                    div(class='step__icon from-left')
                        img(src='assets/images/bill.png', width='83', height='99' alt='')
                    p(class='step__headline') регистрируйте #[br]чек
                    p(class='step__text') 
                        |на сайте 
                        |
                        a(href="https://super.mironline.ru/detmir" target="_blank")                 
                            span super.mironline.ru/detmir

                li(class='step mobile-slide')
                    div(class='step__icon from-left')
                        img(src='assets/images/gift.png', width='115', height='81' alt='')
                    p(class='step__headline') получайте #[br]шанс выиграть
                    p(class='step__text') ежедневно сертификат в&nbsp;«Детский&nbsp;Мир» и&nbsp;выбрать #[br]подарок мечты

            button(class='mobile-slider-prev swiper-button-prev' type='button')
            button(class='mobile-slider-next swiper-button-next' type='button')
        a(
            class='btn btn--curvy mechanics__btn js-modal-trigger'
            data-target='receiptPopup'
        ) Регистрация чека

        p(class="tip")
            |Акция проходит во всех магазинах сети «Детский&nbsp;Мир» на территории РФ и в интернет-магазине
            |
            a(href="https://www.detmir.ru/" target="_blank")
                |detmit.ru
            |.