section(class='section rules', id='rules' data-anchor='rules-section')
    header(class='header', id='header')
        div(class='header__wrapper layout-positioner')
            a(href='https://mironline.ru/', target="_blank", class='logo-mir')
                img(src="assets/images/logo-mir.png" alt="")

            nav(class='main-nav js-menu')
                ul(id='menu')
                    li(class='main-nav__item')
                        a(href="#", class='main-nav__link') Все акции «Мир»
                    li(
                    class='main-nav__item active'
                    data-menuanchor='rules-section'
                    )
                        a(href="#rules-section") Правила акции

                    li(
                    class='main-nav__item active'
                    data-menuanchor='mechanics-section'
                    )
                        a(href="#mechanics-section") Механика акции

                    li(
                    class='main-nav__item active'
                    data-menuanchor='winners-section'
                    )
                        a(href="#winners-section") Победители

                    if authorised

                        li(
                        class= loggedIn.class
                        data-menuanchor= 'account-section'
                        )
                            a(
                            href= loggedIn.href
                            class='main-nav__link'
                            )= loggedIn.text

                    else

                        li(
                        class= login.class
                        )
                            a(
                            href= login.href
                            class='main-nav__link js-modal-trigger'
                            data-target = login.target
                            )= login.text

                    li(class='mobile-menu-item')
                        a(href="#") Часто задаваемые вопросы

                    li(class='mobile-menu-item')
                        a(href="#" class='js-modal-trigger' data-target='questionPopup') Обратная связь

                include ../blocks/share.pug

            a(href="#", class='logo-dm')
                img(src="assets/images/logo-dm.png", width="159", height="56" alt="")

    div(class='section__wrapper rules__wrapper layout-positioner')
        div(class='rules__content')
            h1(class='rules__title') Самый детский МИР
            p(class='rules__text') Оплачивайте покупки картой 
                |
                br
                |
                |«Мир» и получайте возможность 
                |
                br
                |
                |выбрать подарок мечты!

            a(
                class='btn btn--curvy js-modal-trigger'
                data-target='receiptPopup'
            ) Зарегистрировать чек

            //div(class='rules__card')
                img(src="assets/images/card01.png", width="460", height="349", alt="")
