- 
    var winners = [
        {
            name: 'Константин',
            tel: '+7 9хх ххх 88 88',
            prize: 'Сертификат в «Детский Мир» на 1000 рублей',
            prizeMob: 'Сертификат на 1000 руб'
        },
        {
            name: 'Ольга',
            tel: '+7 9хх ххх 54 32',
            prize: 'Сертификат в «Детский Мир» на 3000 рублей',
            prizeMob: 'Сертификат на 3000 руб'
        },
        {
            name: 'Леонид',
            tel: '+7 9хх ххх 71 08',
            prize: 'Сертификат в «Детский Мир» на 1000 рублей',
            prizeMob: 'Сертификат на 1000 рублей'
        },
        {
            name: 'Тамара',
            tel: '+7 9хх ххх 95 82',
            prize: 'Сертификат в «Детский Мир» на 5000 рублей',
            prizeMob: 'Сертификат на 5000 рублей'
        },
        {
            name: 'Наталья',
            tel: '+7 9хх ххх 30 22',
            prize: 'Сертификат в «Детский Мир» на 1000 рублей',
            prizeMob: 'Сертификат на 1000 рублей'
        },
        {
            name: 'Константин',
            tel: '+7 9хх ххх 88 88',
            prize: 'Сертификат в «Детский Мир» на 1000 рублей',
            prizeMob: 'Сертификат на 1000 рублей'
        },
        {
            name: 'Ольга',
            tel: '+7 9хх ххх 54 32',
            prize: 'Сертификат в «Детский Мир» на 3000 рублей',
            prizeMob: 'Сертификат на 3000 рублей'
        },
        {
            name: 'Леонид',
            tel: '+7 9хх ххх 71 08',
            prize: 'Сертификат в «Детский Мир» на 1000 рублей',
            prizeMob: 'Сертификат на 1000 рублей'
        },
        {
            name: 'Тамара',
            tel: '+7 9хх ххх 95 82',
            prize: 'Сертификат в «Детский Мир» на 5000 рублей',
            prizeMob: 'Сертификат на 5000 рублей'
        },
        {
            name: 'Наталья',
            tel: '+7 9хх ххх 30 22',
            prize: 'Сертификат в «Детский Мир» на 1000 рублей',
            prizeMob: 'Сертификат на 1000 рублей'
        }
    ]

section(class='section winners', id='winners' data-anchor='winners-section')
    //div(class='cards')
        img(src="assets/images/cards.png", alt="")
    div(class='section__wrapper layout-positioner')
        h2(class='winners__title') Победители
        div(class='results-table')
            div(class='results-table__header')
                div(class='results-table__col _name')
                    p Имя
                div(class='results-table__col _phone')
                    p Номер телефона
                div(class='results-table__col _prize')
                    p Приз
                div(class='search-form-block')
                    form(class='search-form', action='#', method='post')
                        input(
                            type='search'
                            id='search-field'
                            class='search-form__field'
                            placeholder='Поиск по номеру телефона'
                        )
            div(class='results-table__body scrollable')

                each item in winners 

                    div(class='results-table__row')
                        div(class='results-table__col _name')
                            p= item.name
                        div(class='results-table__col _phone')
                            p= item.tel
                        div(class='results-table__col _prize')
                            p= item.prize

        div(class='results-table _mobile')
            div(class='results-table__header')
                div(class='results-table__col _name-phone')
                    p Имя
                    p Номер телефона
                div(class='results-table__col _prize')
                    p Приз
                div(class='search-form-block')
                    form(class='search-form', action='#', method='post')
                        input(
                            type='search'
                            id='search-field'
                            class='search-form__field'
                            placeholder='Поиск по номеру телефона'
                        )

            div(class='results-table__body scrollable')

                each item in winners 

                    div(class='results-table__row')
                        div(class='results-table__col _name-phone')
                            p= item.name
                            p= item.tel
                        div(class='results-table__col _prize')
                            p= item.prizeMob
    include ../partials/footer.pug