doctype html
html
    include commons/head.pug
    body(class='index-page')
        div(class='global-wrapper')
            h1 Проект:
            ol
                li
                    a(href='main.html') Главная
                li
                    a(href='main--logged-in.html') Главная для залогиненного пользователя
                li
                    a(href='popups.html') Попапы