- var authorised = false

doctype html
html
    include commons/head.pug
    body
        include partials/header.pug
        div(class='global-wrapper' id='fullpage')
            include screens/rules.pug
            include screens/mechanics.pug
            include screens/winners.pug

        include blocks/popup-register.pug
        include blocks/popup-authorise.pug
        include blocks/popup-question.pug
        include blocks/popup-receipt.pug
        include blocks/popup-thanks1.pug
        include blocks/popup-thanks2.pug