-
    var targets = [
        {
            target: 'registerPopup',
            text: 'Регистрация'
        },
        {
            target: 'authorisePopup',
            text: 'Авторизация'
        },
        {
            target: 'questionPopup',
            text: 'Задать вопрос'
        },
        {
            target: 'receiptPopup',
            text: 'Зарегистрировать чек'
        },
        {
            target: 'thanksPopup1',
            text: 'Заявка обработана'
        },
        {
            target: 'thanksPopup2',
            text: 'Чек зарегистрирован'
        }
    ]

doctype html
html
    include commons/head.pug
    body
        div(class='global-wrapper')
            div(class='buttons')

                each item in targets
                    div(class='button') 
                        button(
                            type='button'
                            class='btn js-modal-trigger'
                            data-target= item.target
                        )=  item.text
        
        include blocks/popup-register.pug
        include blocks/popup-authorise.pug
        include blocks/popup-question.pug
        include blocks/popup-receipt.pug
        include blocks/popup-thanks1.pug
        include blocks/popup-thanks2.pug