.footer
    position: absolute
    bottom: 0
    left: 0
    right: 0
    color: #fff
    background-color: $green
    z-index: 10

    @media (max-width: $screenXS - 1)
        display: none

    &__wrapper 
        @include row-component
        padding: 16px 81px 16px 13px
        max-width: none

        @media (max-width: $screenL - 1)
            padding: 16px 23px 16px 25px

        @media (max-width: $screenM - 1)
            padding: 20px 30px

        @media (max-width: $screenXS - 1)
            flex-direction: column
            padding: 15px

.footer-nav
    @include list-reset 
    display: flex
    font-size: 14px
    line-height: 18px

    @media (max-width: $screenXS - 1)
        font-size: 12px

    li 
        margin-right: 32px

        @media (max-width: $screenXS - 1)
            margin-right: 15px

            &:last-child 
                margin-right: 0

    a 
        @include hover
        color: #fff