.header
    position: fixed
    top: 0
    left: 0
    right: 0
    padding-top: 20px
    padding-bottom: 20px
    z-index: 10
    transition: background-color 0.3s ease

    &._bg 
        background-color: #fff

        @media (max-width: $screenM)
            background-color: transparent

    &._hide
        display: none

    @media (max-width: 1600px)
        padding-top: 17px
        padding-bottom: 17px

    &__wrapper 
        display: flex
        align-items: center
        max-width: 100%

        @media (max-width: $screenM)
            justify-content: flex-start

        @media (max-width: $screenXS - 1)
            padding-right: 30px

body
    @media (max-width: $screenM)
        & > .header
            .header__wrapper
                justify-content: flex-end
                align-items: center
                height: 72px

            .logo-mir, .logo-dm
                display: none

.logo-mir 
    @include hover
    flex: none
    display: flex
    justify-content: center 
    align-items: center
    width: 226px
    height: 90px
    background-color: #fff
    border-radius: 76px 0 96px 1px / 76px 0 90px 14px
    margin-left: -77px
    margin-right: 52px

    @media (max-width: 1600px)
        width: 180px
        height: 72px
        margin-right: 15px

    @media (max-width: $screenL - 1)
        margin-left: -42px
        //width: 140px
        //height: 56px

    @media (max-width: $screenM)
        margin-right: 0

    //@media (max-width: $screenXS - 1)
        width: 80px
        height: 40px
        margin-left: -25px

    img 
        display: block
        width: 55%
        height: auto
        max-height: 40% 

.logo-dm
    @include hover
    margin-left: 88px
    margin-right: 60px
    flex: none
    width: 159px
    height: 56px
    margin-top: 3px

    @media (max-width: 1600px)
        margin-right: 30px
        //width: 130px
        //height: 46px

    @media (max-width: $screenL - 1)
        margin-right: 0
        margin-left: 30px
        width: 116px
        height: 41px

    @media (max-width: $screenM)
        margin-left: 0

    @media (max-width: $screenXS - 1)
        width: 90px
        height: 32px

    img
        display: block
        width: 100%
        height: auto